.about {
    width: 100%;
    height: 554px;
    font-family: $Oranienbaum;
}

.logo-image {
    height: 50%;
    margin-top: 160px;

    @media (max-width: $md3+px) {
        text-align: center;
        height: 35%;
    }
}

.mission {
    &__heading {
        color: white;
        font-size: 24px;
    }

    @media (max-width: $md3+px) {
        text-align: center;
    }
}

.mission a {
    color: #cdb380;
    font-size: 16px;
    text-decoration: underline;
}