@import "fonts";


$Roboto: "Roboto";
$Oranienbaum: "Oranienbaum";

$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 1146;

$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


@import "null";

body {
    background: url(../img/bg-main.png) top #000 no-repeat!important;
    color: #000;
    font-size: 14px;
    &._lock {
        overflow: hidden;
    }
    user-select: none;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    @media (max-width: $md1 + px) {
        max-width: 970px;
    }
    @media (max-width: $md2 + px) {
        max-width: 750px;
    }
    @media (max-width: $md3 + px) {
        max-width: 90%;

    }
}

@import "header";
@import "about";
@import "main-content";
@import "footer";

.uppercase {
    text-transform: uppercase;
}

._section{
    height: 100%;
    background-color: white;
}

html {
    font-family: $Roboto;
    font-size: 16px;
}